*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
    overflow-x : hidden;
}

.background img{
    position: absolute;
    width: 100vw;
    height: 120.694vw;
    object-fit: cover;
}
nav{
    position: fixed;
    display: flex;
    background: #7D644C;
    justify-content: space-around;
    top: 0;
    width: 100vw;
    height: 98px;
    align-items: center;
    z-index: 100;
}

.logo img{
    position: absolute;
    object-fit: cover;
    left: 1.736vw;
    top: 1.3vw;
}

nav ul{
    display: flex; 
    list-style: none;
    width: 50%;
    justify-content: space-between;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 2.083vw;
}

nav ul li a:hover{
    color: #FFC700;
}
.active{
    color: #FFC700;
}
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
    left: 15vw;
    position: relative;
    /* z-index: 2; */
}


#click{
    position: absolute;
    width: 40px;
    height: 35px;
    opacity: 0;
    /* left: -6px; */
    right: 7.5vw;
    /* top: -3px; */
    cursor: pointer;
    z-index: 3;
}
.menu-toggle span{
    z-index: 2;
    display: block;
    width: 33.6px;
    height: 4px;
    background-color: white;
    border-radius: 3px;
}

/* CONTENT */
.content{
    position: absolute;
}
.white-block{
    position: absolute;
    width: 86.806vw;
    height: 45.486vw;
    left: 6.597vw;
    top: 13.889vw;

    background: #FFFFFF;
    border-radius: 3.472vw 0px;
}
.congrats{

    position: absolute;
    width: 100vw;
    left:0vw;
    top: 16.875vw;

    font-style: normal;
    font-weight: 700;
    font-size: 4.167vw;

    text-align: center;
    color: #07669B;
}

.descp{
    position: absolute;
    width: 62.847vw;
    left: 18.542vw;
    top: 28.125vw;

    font-style: normal;
    font-weight: 400;
    font-size: 3.333vw;

    text-align: center;

    color: #07669B;
}

.btnReturn{
    position: absolute;
    width: 27.569vw;
    height: 7.857vw;
    left: 36.528vw;
    top: 44.514vw;

    background: #07669B;
    border: 1px solid #000000;
    border-radius: 1.042vw;
    color: white;
    font-size: 2.5vw;
    text-align: center;
    line-height:7.857vw;
}

/* FOOTER */
.footer{
    position: absolute;
    width: 100vw;
    height: 9vw;
    background-color:#7D644C;
    top:120.694vw;
}

.copyright{
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0vw;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    text-align: center;
    line-height: 9vw;
    color: #FFFFFF;
}

.whatsapp{
    position: absolute;
    left: 0.1vw;
    bottom: 0.1vw;
    width: 2.083vw;
    height: 1.990vw;
}
.phoneNumber{
    position: absolute;
    left: 3vw;
    bottom: 0.3vw;
    font-weight: 400;
    font-size: 1.3vw;
    color: white;
}

.email{
    position: absolute;
    left: 15vw;
    bottom: 0; 
    width: 2.083vw;
    height: 1.990vw;
}
.emailText{
    position: absolute;
    left: 18vw;
    bottom: 0.3vw;
    font-weight: 400;
    font-size: 1.3vw;
    color: white;
}

.instagram{
    position: absolute;
    width: 2.083vw;
    height: 1.990vw;
    right: 10vw;
    bottom: 0; 
}

.facebook{
    position: absolute;
    width: 2.083vw;
    height: 1.990vw;
    right: 6vw;
    bottom: 0; 
}
.twitter{
    position: absolute;
    width: 2.083vw;
    height: 1.990vw;
    right: 2vw;
    bottom: 0; 
}







@media screen and (max-width: 900px){
    nav ul{
        width: 50%;
        /* font-size: 14px; */
        font-size: 1.556vw;
    }
}

/* ukuran mobile */

@media screen and (max-width: 720px){
    .menu-toggle{
        display: flex;
    }
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content:space-evenly;
        z-index: -2;
        right: -100%;
        background-color: #7D644C;
    }
    /* #check:checked ~ ul{
        left: 0%;
    } */
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #FFC700;
    }

    #click:checked ~ ul{
        right: 0%;
    }

}